@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;800;900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}


header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    min-height: 65px;
    align-items: center;
    background-color: #fff;
    padding: 15px 0;
}

header a {
    text-decoration: none;
    color: black;
}

.flexsx , .flexdx {
    display: flex;
    align-items: center;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    z-index: 10;
    
}


.flexsx > div , .flexdx > div{
    padding: 1rem;
}

.bluebotton a {
    color: white;
    background-color: #0061ff;
    text-align: center;
    padding: 0.6rem;
    border-radius: 0.5rem;
}
/* main  */

.backgroundsky {
    background-color: #b4d0e7;
    padding-top: 3.5rem;
    margin-top: 4rem; 
    min-height: 50rem;
}

.maintext {
  width: 80%;
  margin: 0rem 24rem;
  height: 16rem;  
}

.maintext h1{
    padding-top: 30px;
    font-size: 4rem;
    width: 80%;
    font-weight: 900;
}
 
.sx {
    width: 24%;
    float:left;
    margin-left: 24rem;
    font-size: 1.4rem;
    line-height: 2rem;

}
.dx {
    width: 45%;
    float: right;
    margin-right: 11rem;
}

.dx img{
    width:100%; 
}

.btnblue {
    border: 0px;
    padding: 1.2rem;
    background-color: #0061ff;
    color: white;
    font-size: 1.2rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}


