@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  min-height: 65px;
  align-items: center;
  background-color: #fff;
  padding: 15px 0;
}

header a {
  text-decoration: none;
  color: black;
}

.flexsx,
.flexdx {
  display: flex;
  align-items: center;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  z-index: 10;
}

.flexsx > div,
.flexdx > div {
  padding: 1rem;
}

.bluebotton a {
  color: white;
  background-color: #0061ff;
  text-align: center;
  padding: 0.6rem;
  border-radius: 0.5rem;
}

/* main  */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.backgroundsky {
  background-color: #b4d0e7;
  padding-top: 3.5rem;
  margin-top: 4rem;
  min-height: 45.5rem;
}

.maintext {
  width: 80%;
  margin: 0rem 23.5rem;
  height: 16rem;
}

.maintext h1 {
  padding-top: 30px;
  font-size: 4.3rem;
  width: 80%;
  font-weight: 900;
}

.sx {
  width: 24%;
  float: left;
  margin-left: 24rem;
  font-size: 1.3rem;
  line-height: 1.6rem;
}

.dx {
  width: 45%;
  float: right;
  margin-right: 10rem;
}

.dx img {
  width: 100%;
}

.btnblue {
  border: 0px;
  padding: 1.2rem;
  background-color: #0061ff;
  color: white;
  font-size: 1.2rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.fa-arrow-down {
  font-size: 2.5rem;
  text-decoration: none;
  color: black;
  padding-top: 1rem;
}

.businessplan {
  width: 70%;

  margin: 15rem auto 3rem;
}

.trovapiano {
  margin-bottom: 2rem;
}

.colonnepiani {
  display: flex;
  margin-top: 3rem;
}

#professional-plan,
#advanced-plan {
  margin-right: 5%;
}

.piani aside {
  float: left;
  width: 33%;
  min-height: 900px;
  border: 1px solid #dedfe1;
}

.piani ul {
  list-style: none;
}

.topaside {
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #dedfe1;
  padding: 7px 0;
}

.mainaside {
  padding: 1.5rem 1.5rem;
}

.mainaside ul,
li {
  padding: 1rem 0rem;
}

.mainaside h3 {
  font-size: 2rem;
}

.mainaside h4,
h5,
h3 {
  padding: 1rem 0rem;
}

.btnaside {
  background-color: #0061ff;
  outline: none;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  border: solid 1px #0061ff;
  padding: 0.8rem;
  font-size: 0.8rem;
  color: white;
}

.btnaside a {
  text-decoration: none;
  color: white;
}

.hr-line {
  width: 25%;
  border-bottom: solid 2px #c5c5c5;
  margin: 20px 0;
}

.buy-now {
  padding: 2rem 0rem;
}

.fa-check {
  color: blue;
  font-size: 1.3rem;
}

#bottom-plan {
  width: 70%;
  border: solid 1px #dedfe1;
  margin-top: 40px;
  margin-left: 18rem;
}

#bottom-plan .clearfix {
  padding: 1.5rem 1.5rem;
}

#entreprise {
  float: left;
  font-size: 2rem;
}

.text-bottom-plan {
  padding: 1.5rem 1.5rem;
}

.text-bottom-plan h4 {
  font-size: 1.2rem;
  padding-bottom: 2rem;
}

#bottom-plan .clearfix button {
  float: right;
}

.find-partner {
  margin-top: 8rem;
  margin-bottom: 6rem;
  width: 70%;
  margin-left: 18rem;
}

.find-partner img {
  width: 60%;
  float: left;
}

.text-find-partner {
  width: 40%;
  float: left;
  padding: 1.5rem 1rem;
}

.text-find-partner h3 {
  font-size: 2rem;
}

.text-find-partner p {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.text-find-partner button a {
  color: white;
}

.multitask {
  width: 70%;
  margin: auto;
  font-size: 1.7rem;
}

.card {
  width: calc(100% / 3);
  margin: 2rem;
}

.card img {
  width: 100%;
}

.card-dad {
  display: flex;
  width: 70%;
  margin: auto;
}

.card-dad h4,
p {
  text-align: left;
  line-height: 1.5rem;
  font-size: 0.9rem;
}

.teamz {
  width: 70%;
  margin: auto;
  margin-top: 13rem;
  font-size: 1.5rem;
  margin-bottom: 10rem;
}

.card-container-bottom {
  display: flex;
  justify-content: space-between;
  height: 35rem;
  
}

.sxbottom,
.dxbottom,
.midbottom {
  flex-wrap: wrap;
  display: flex;
  width: calc(100vw/3);
}

.fleximg {
  flex-basis: 50%;
  height: 10rem;
  padding: 0rem;
  
}

.fleximg img {
  height: 100%;
  width: 100%;
  padding: 3rem;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(306deg) brightness(103%) contrast(101%);
}

.greenbox {
  background-color: #a2d39b;
}

.redbox {
  background-color: red;
}

.bordeauxbox {
  background-color: #9b0032;
}

.lightbox {
  background-color: #14c8eb;
}


.lightbluebox {
  background-color: #b4c8e1;
}

.bluebox {
  background-color: #283750;
}

.yellowbox {
  background-color: #fad24b;
  
}

.midbottom {
  background-color: lightgrey;
}
.midbottom img{
  margin-top: 3rem;
  margin-left: 2rem;
}

.boxheight {
  height: 50%;
  padding: 3.5rem;
}

.midimg {
  float: left;
  margin-left: 2.5rem;
  height: 10%;
}

.hrbot {
  margin-top: 1.5rem;
  width: 30%;
  margin-left: 2rem;
}

.botmidtext {
  font-size: 1.2rem;
  width: 70%;
  margin-left: 4rem;
  margin-top: 1rem;
}

.bluefooter {
  display: flex;
  width: 100%;
  background-color: #B4D0E7;
  font-size: 2rem;
  height: 25rem;
  color: #8e002d;
  
}

.col1foot{
  display: flex;
  width: 50%;
  margin: auto;
  justify-content: center;
}

.col2foot button {
  margin-top: 1.5rem;
  border: 1px solid transparent;
  width: 20rem;
  margin-left: 3rem;
  padding: 0.5rem 1rem;
}

.questioncontainer {
  width: 50%;
  margin: auto;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.question {
  font-size: 2rem;
  padding: 2rem;
}

.question2 h4 , h2{
  padding: 2.7rem;
}

.fa-chevron-down {
  float: right;
}

.finalfootcontainer {
  width: 100%;
  color: white;
  background-color: black;
  padding: 5rem;
  
  
}

.footul {
  width: calc(100vw/5);
  margin: 5rem;
}

.footul a {
  text-decoration: none;
  color: white;
}

.footul ul {
  list-style-type: none;
}

.footul h3 {
  font-size: 1.5rem;
}

.final {
  padding: 1rem 1rem;
  display: flex;
  margin: auto;
}

.fine {
  width: 25%;
  margin: 0rem 6rem;
}

.fine hr {
  margin-bottom: 1.5rem;
}

